<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <!-- <button (click)= "showSecret = !showSecret" class="btn btn-primary">Display Details</button> -->
        <button (click)= "onToggleDetails()" class="btn btn-primary">Display Details</button>
        <p *ngIf="showSecret">Secret Password = tuna</p>
        <div *ngFor= "let log of logs"
        [ngStyle]="{backgroundColor: log >= 5 ? 'blue':'transparent'}"
        [ngClass]="{'white-text':log>=5}"
        >{{log}}</div>
        </div>
    </div>
</div>
