<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3> Welcome {{title}}</h3>
            <hr>
            <!-- Common selector 
            <app-servers></app-servers> -->

            <!-- Attribute selector 
            <div app-servers></div>-->      
             <!-- Class selector -->
            <div class="app-servers"></div>
            <input type="text"
                class="form-control" 
                [(ngModel)]="userName"
                >
                <p>{{userName}}</p>

            <button (click)="userName = ''" class="btn btn-primary" [disabled]="userName ===''">Reset User</button>

        </div>
    </div>
</div>
